<!-- <ion-header [translucent]="true"> </ion-header> -->
<ion-content>
  <ion-toolbar color="transparent">
    <!-- <ion-button slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button> -->
    <ion-buttons>
      <ion-back-button slot="primary"></ion-back-button>
    </ion-buttons>
    <ion-title><ion-label>Shopping</ion-label></ion-title>

    <ion-button
      slot="end"
      type="submit"
      (click)="authService.SignOut()"
      slot="secondary"
      background-color="transparent"
      ><ion-icon name="log-out"></ion-icon
    ></ion-button>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Shopping App</ion-card-subtitle>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Application de recherche , d'achat ou de vente de cadeaux, développée par
      Jonathan Mahut pour s'amuser avec le Framework Ionic en mode Progressive
      Web-App et application Mobile.
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar> </ion-toolbar>
  </ion-footer>
</ion-content>
